<!DOCTYPE html>
<html lang="kk">
<head>
  <meta charset="UTF-8">
  <title>БЖБ/ТЖБ тексеру</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bjb.css') }}">
<link rel="manifest" href="/static/manifest.json">
<meta name="theme-color" content="#c8a27c">

<link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="Bilim Space">
</head>
<body>
  <nav>
    <a href="{{ url_for('home') }}">Басты бет</a>
    <a href="{{ url_for('bjb') }}">БЖБ</a>
    <a href="{{ url_for('students') }}">Оқушылар</a>
    <a href="{{ url_for('teacher') }}">Мұғалім</a>
    <a href="{{ url_for('essay_create') }}">Эссе құру</a>
    <a href="{{ url_for('essay_check') }}">Эссе тексеру</a>
    <a href="{{ url_for('test_create') }}">Тест құру</a>
    <a href="{{ url_for('test_check') }}">Тест тексеру</a>
  </nav>

  <div class="container">
    <div class="card">
      <h1>📘 БЖБ/ТЖБ тексеру жүйесі</h1>
      <p class="subtitle">Оқушы жұмысын жүктеп, автоматты тексеру</p>

      <form action="{{ url_for('bjb') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="images" multiple required>
    <textarea name="answer_key" placeholder="Дұрыс жауап" required></textarea>
    <input type="number" name="max_score" placeholder="Максималды ұпай" required>
    <button type="submit">Тексеру</button>
</form>

      {% if student_text %}
      <div class="recognized-box">
        <h2>Танылған мәтін</h2>
        <pre>{{ student_text }}</pre>
      </div>
      {% endif %}

      {% if result %}
      <div class="result-box">
        <h2>Нәтиже</h2>
        <p><strong>Ұпай:</strong> {{ result.score }}</p>
        <p><strong>Қорытынды:</strong> {{ result.decision }}</p>
        <p><strong>Кері байланыс:</strong> {{ result.feedback }}</p>
      </div>
      {% endif %}

      {% if error %}
      <div class="error-box">
        <h2>Қате</h2>
        <p>{{ error }}</p>
      </div>
      {% endif %}
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script>
if ('serviceWorker' in navigator) {
  window.addEventListener('load', function () {
    navigator.serviceWorker.register('/static/service-worker.js')
      .then(function (registration) {
        console.log('Service Worker тіркелді:', registration.scope);
      })
      .catch(function (error) {
        console.log('Service Worker қатесі:', error);
      });
  });
}
</script>
</body>
</html>