<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <title>Мұғалім панелі</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='teacher.css') }}">
<link rel="manifest" href="/static/manifest.json">
<meta name="theme-color" content="#c8a27c">

<link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="Bilim Space">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Басты бет</a>
        <a href="{{ url_for('bjb') }}">БЖБ</a>
        <a href="{{ url_for('students') }}">Оқушылар</a>
        <a href="{{ url_for('teacher') }}">Мұғалім</a>
    </nav>

    <div class="teacher-page">
        <h1 class="teacher-title">Мұғалім панелі</h1>
        <p class="teacher-subtitle">Жіберілген жұмыстар</p>

       {% if files %}
<div class="teacher-grid">
    {% for file in files %}
    <div class="work-card">
        <img src="{{ url_for('uploaded_file', filename=file.filename) }}" alt="Оқушы жұмысы" class="teacher-img">
        <div class="work-info">{{ file.info }}</div>

        <a href="{{ url_for('uploaded_file', filename=file.filename) }}" download class="download-btn">
            📥 Жүктеу
        </a>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="empty-box">
    Әзірге жіберілген жұмыс жоқ.
</div>
{% endif %}
    </div>
    <script>
if ('serviceWorker' in navigator) {
  window.addEventListener('load', function () {
    navigator.serviceWorker.register('/static/service-worker.js')
      .then(function (registration) {
        console.log('Service Worker тіркелді:', registration.scope);
      })
      .catch(function (error) {
        console.log('Service Worker қатесі:', error);
      });
  });
}
</script>
</body>
</html>